.button {
  height: 40px;
  padding-inline: 15px;

  background-color: #333333;

  color: #E6E6E6;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: #333333;

  &:hover {
    background-color: #2F2F2F;
  }
}

.activeButton {
  height: 40px;
  padding-inline: 15px;

  background-color: #333333;

  color: #E6E6E6;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: #E6E6E6;

  &:hover {
    background-color: #2F2F2F;
  }
}