.max {
  border-radius: 15px;
  width: 15px;
  height: 15px;
  background-color: #E6E6E6;

  transition: all;
  transition-duration: 0.2s;
}

.min {
  border-radius: 12px;
  width: 10px;
  height: 10px;
  background-color: #E6E6E6;

  transition: all;
  transition-duration: 0.2s;
}