.title {
  font-size: 25px;
  font-weight: bold;
}

.tracksPreview {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
  grid-auto-flow: column;
  grid-gap: 5px;

  div {
    margin: 0;
  }
}

.content {
  margin-block: 20px;

  >* {
    margin-block: 10px;
  }

  .favoriteAuthors {

    .authors {
      display: flex;
      margin-block: 15px;

      .author {
        margin-right: 10px;
      }
    }

    .title {
      * {
        justify-content: start;
      }

    }

  }

  .favoriteAlbums {

    .albums {
      display: flex;
      margin-block: 15px;

      .album {
        margin-right: 10px;
      }
    }

    .title {
      * {
        justify-content: start;
      }

    }
  }
}