.navbar {
  height: 100%;
  min-width: 215px;
  background-color: #0D0D0D;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .buttons {
    margin-block: 25px;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 0;
  }

  .pinsWrapper {
    overflow-y: scroll;
    margin-bottom: 20px;

    .contentWrapper {
      margin: 10px;
      padding: 10px;
    }

    .pins {

    }
  }

  .button {
    display: flex;
    text-decoration: none;
    color: #808080;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    margin: 5px;
    padding: 10px;

    transition: color;
    transition-duration: 0.2s;

    &:hover {
      color: #E6E6E6;
    }

    .icon {
      margin-right: 10px;
      display: flex;
      align-items: center;
      font-size: 30px;
    }
  }

  .activebutton {
    display: flex;
    text-decoration: none;
    color: #E6E6E6;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    margin: 5px;
    padding: 10px;

    .icon {
      margin-right: 10px;
      display: flex;
      align-items: center;
      font-size: 30px;
    }
  }
}



