.maincontentMyVibeFX {
  position: absolute;
  top: 10px;
  z-index: -0.1;
  max-height: 100%;
}

.myVibeButton {
  position: absolute;
  background-color: transparent;
  color: #E6E6E6;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 24px;

  .icon {
    margin-right: 5px;
    font-size: 24px;
  }
}


.maincontentMyVibe {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.allContent {
  margin-top: 20px;

  .element {
    margin-block: 15px;

    .nav {
      display: flex;
      margin-bottom: 10px;
    }

    .flex {
      display: grid;
      grid-template-columns: repeat(auto-fit, 230px);
    }

    >* {
      width: 100%;
    }
  }
}

